/* Index-page formating */
#downMenuIcon  {
    position: relative;
    top: -40px;
    left: 49%;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

#downMenu {
    background: gray;
    position: fixed;
    top: 100%;
    left: 0px;
    width: 100%;
}

.centeredText {
    text-align: center;
}


#loadingIcon {
    position: relative;
    top: -40px;
    left: 49%;
}


/* The animation code */
@keyframes example {
    0%   {left:0%;top:0%}
    /*    25%  {left:55%;top:0%}*/
    50%  {left:110%;top:0%}
    51%  {left:110%;top:110%}
    52%  {left:-110%;top:110%}
    53%  {left:-110%;top:0%}
    /*    75%  {left:-55%;top:0%}*/
    100% {left:0%;top:0%}
}


.animate {
    position: relative;
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.animateRw {
    position: relative;
    animation-name: example;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-timing-function: linear;
}

/* Place info content formating */
.ui-mobile .part label, .part .ui-controlgroup-label {
    display: block;
    margin: 10px 0px 0.4em;
    font-weight: bold;
}