<option value="7143" data-href="/ltypaaravintola">A-LUT Pääravintola-LUT main restaurant, </option>
<option value="133" data-href="/aaltoyliopiston_kahvila">Aalto OIH kahvila, Espoo</option>
<option value="13918" data-href="/aalto-valimo">Aalto Valimo, Espoo</option>
<option disabled value="0" data-href="/aalto-yliopiston-opiskelijaravintolat">Aalto-yliopiston opiskelijaravintolat, Espoo</option>
<option value="8" data-href="/hestia">Arabianrannan portaali, Hestia, Helsinki</option>
<option value="10392" data-href="/arravaara">Ärrävaara, Vantaa</option>
<option value="9" data-href="/atomitie5">Atomitie 5, Helsinki</option>
<option value="132" data-href="/auriga">Auriga Business Center, Fiskarholmen, Turku</option>
<option disabled value="-1" data-href="/kahvila6vaihe">B-LUT Kahvila 6-vaihe-Cafe nro 6, </option>
<option value="12" data-href="/tayttymys">Business Park Mankkaa, Espoo</option>
<option disabled value="-1" data-href="/skykahvila">C-LUT Skykahvila-Cafe Sky, </option>
<option value="537" data-href="/carlaugust">Carl August, Helsinki</option>
<option value="21" data-href="/dhlexpress">DHL Express, Vantaa</option>
<option value="22" data-href="/dynamo">Dynamo Business Park, Tampere</option>
<option value="99" data-href="/electra">Electra, Espoo</option>
<option value="20" data-href="/mezzo">Espoon kulttuurikeskus, Espoo</option>
<option value="26" data-href="/LEKO7">Finnair Leko7, Vantaa</option>
<option value="47" data-href="/finnfrost-ravintola-frost">Finnfrost, ravintola Frost, Tuusula</option>
<option value="14627" data-href="/flakt-woods">Fläkt Woods, Turku</option>
<option value="50" data-href="/gate8">Gate8, Vantaa</option>
<option value="3" data-href="/hameenkylankartano">Hämeenkylän kartano, Vantaa</option>
<option value="29" data-href="/heikkilantie7">Heikkiläntie 7, Helsinki</option>
<option value="24" data-href="/helsinkivantaa">Helsinki-Vantaan lentoasema, Finnair</option>
<option value="134" data-href="/hermia5">Hermia 5, Tampere</option>
<option disabled value="-1" data-href="/hermia-6">Hermia 6, Tampere</option>
<option value="9870" data-href="/hermia-6-belounasravintola">Hermia 6 be…lounasravintola, Tampere</option>
<option value="121" data-href="/hopeatie2">Hopeatie 2, Helsinki</option>
<option value="120" data-href="/kuninkaantie">Hotelli Kuninkaantie, Espoo</option>
<option value="878" data-href="/hott/lounas">HOTT be..., Vantaa</option>
<option disabled value="-1" data-href="/house-travel-and-transport-hott">House of Travel and Transportation, HOTT, Vantaa</option>
<option value="30" data-href="/htc-helsinki">HTC Helsinki, Helsinki</option>
<option value="30" data-href="/htchelsinki">HTC Helsinki, Acqua, Helsinki</option>
<option value="31" data-href="/explorer">HTC Helsinki, Explorer, Helsinki</option>
<option value="53" data-href="/huolintatalo">Huolintatalo, Helsinki</option>
<option value="54" data-href="/ict">ICT - talo, Turku</option>
<option value="55" data-href="/ilona">Ikaalisten käsi- ja taideteollisuus-oppilaitos, Ilona, Ikaalinen</option>
<option value="888" data-href="/itamerenkatu-11-13">Itämerenkatu 11-13, Helsinki</option>
<option value="5868" data-href="/jamk-musiikki">JAMK Musiikkikampus, Jyväskylä</option>
<option value="5861" data-href="/jamk-rajacafe">JAMK Rajacafé, Jyväskylä</option>
<option value="5865" data-href="/jamk-dynamo">JAMK Ravintola Dynamo, Jyväskylä</option>
<option value="5859" data-href="/jamk-paakampus">JAMK Ravintola Pääkampus, Jyväskylä</option>
<option disabled value="5868" data-href="/jamk">Jyväskylän Ammattikorkeakoulu - JAMK, </option>
<option value="56" data-href="/poliisijaoikeustalo">Jyväskylän poliisi- ja oikeustalo, Jyväskylä</option>
<option value="77" data-href="/kaivomestari">Kaivomestari, Espoo</option>
<option value="37" data-href="/kalasatama">Kalasatama, Helsinki</option>
<option value="51" data-href="/hermanni">Kalasataman kulma (ent. Hermanni), Helsinki</option>
<option value="10846" data-href="/kalasataman-kummeli">Kalasataman Kummeli, Helsinki</option>
<option disabled value="-1" data-href="/keilaranta1">Keilaranta 1, Espoo</option>
<option value="57" data-href="/keilasatama5">Keilasatama 5, Espoo</option>
<option value="38" data-href="/kiltakellari">Kiltakellari, Helsinki</option>
<option value="10" data-href="/bolidenkokkola">Kokkolan suurteollisuusalue, Boliden, Kokkola</option>
<option value="113" data-href="/kone-hyvinkaa-paussi">KONE Hyvinkää, Paussi, Hyvinkää</option>
<option value="114" data-href="/kone-oyj-hyvinkaa">KONE Oyj,Hyvinkää, Hyvinkää</option>
<option value="140" data-href="/konetekniikka">Konetekniikka, Espoo</option>
<option value="1401" data-href="/koulutuskeskus-sedun-opiskelijaravintolat">Koulutuskeskus Sedu:n opiskelijaravintolat, </option>
<option value="58" data-href="/kulmasarvis">Kulmasarvis, Tampere</option>
<option disabled value="-1" data-href="/kuortane">Kuortaneen urheiluopisto, Kuortane</option>
<option value="32" data-href="/kyllikinportti2">Kyllikinportti 2, Helsinki</option>
<option value="61" data-href="/lamer">La Mer, Helsinki</option>
<option disabled value="-1" data-href="/ravintolaladonlukko">Ladonlukko, Helsinki</option>
<option disabled value="-1" data-href="/lrannanyliopisto">Lappeenrannan teknillinen yliopisto LUT, Lappeenranta</option>
<option value="153" data-href="/laureahyvinkaa">Laurea Hyvinkää, Hyvinkää</option>
<option disabled value="-1" data-href="/lindstrom-talo">Lindström Talo, Helsinki</option>
<option value="138" data-href="/karry">Lounasravintola Kärry, Kurikka</option>
<option value="136" data-href="/macgregor-0">MacGregor, Kaarina</option>
<option value="90" data-href="/hbc">Mäkelän Koulu (ent. Suomen Liikemiesten Kauppaopisto), Helsinki</option>
<option value="66" data-href="/mattilanniemi">Mattilanniemi, Jyväskylä</option>
<option value="69" data-href="/navitas">Navitas Taitotalo, Varkaus</option>
<option value="12651" data-href="/niittykatu-8">Niittykatu 8, Espoo</option>
<option value="79" data-href="/nova">Nova Bistro, Espoo</option>
<option value="70" data-href="/oldmill">Old Mill, Turku</option>
<option disabled value="-1" data-href="/olympiastadion">Olympiastadion, Helsinki</option>
<option value="13578" data-href="/onninen-hyvinkaa-onnenmaa">Onninen Hyvinkää - Onnenmaa, Hyvinkää</option>
<option disabled value="-1" data-href="/onninen-tampere">Onninen Tampere, Tampere</option>
<option value="72" data-href="/honttamaki">Oulun kaupunki, Oulu ja Haukipudas koulut ja päiväkodit, Oulu</option>
<option disabled value="-1" data-href="/osekk">Oulun seudun koulutuskuntayhtymä - OSEKK, Oulu</option>
<option value="82" data-href="/parkki">Parkki, Vantaa</option>
<option value="137" data-href="/pohjankesti">Pohjankesti, Seinäjoki</option>
<option value="74" data-href="/porkkalankatu20">Porkkalankatu 20, Helsinki</option>
<option value="75" data-href="/porvoo-international-college">Porvoo International College , Porvoo</option>
<option disabled value="-1" data-href="/ravintola-bepop">Ravintola Bepop, Helsinki</option>
<option value="129" data-href="/sonerastadium/ravintola-bollis">Ravintola Bollis, Helsinki</option>
<option disabled value="-1" data-href="/kasper">Ravintola Kasper, Espoo</option>
<option value="152" data-href="/lapintiira">Ravintola Lapintiira, Helsinki</option>
<option value="13821" data-href="/laturi">Ravintola Laturi, Espoo</option>
<option value="546" data-href="/ravintola-terra">Ravintola Terra, Espoo</option>
<option value="83" data-href="/rengasterassi">Rengasterassi, Nokia</option>
<option value="141" data-href="/sahkotekniikka">Sähkötekniikka, Espoo</option>
<option value="154" data-href="/fregatti">SAMK Fregatti, Rauma</option>
<option value="155" data-href="/paletti">SAMK Paletti, Kankaanpää</option>
<option value="156" data-href="/tekatria">SAMK Tekatria, Pori</option>
<option value="158" data-href="/terra">SAMK Terra, Pori</option>
<option disabled value="154" data-href="/samk">Satakunnan AMK, Pori</option>
<option value="873" data-href="/frami">SeAMK Frami, Seinäjoki</option>
<option value="874" data-href="/kampustalo">SeAMK Kampustalo, Seinäjoki</option>
<option value="1401" data-href="/sedu-ilmajoentie">Sedu Ilmajoentie, Ilmajoki</option>
<option value="1404" data-href="/sedu-koskenalantie">Sedu Koskenalantie, Seinäjoki</option>
<option value="1402" data-href="/sedu-koulukatu">Sedu Koulukatu, Seinäjoki</option>
<option value="1405" data-href="/sedu-pappilantie">Sedu Pappilantie, Ilmajoki</option>
<option disabled value="-1" data-href="/seinajoen-ammattikorkeakoulun-ravintolat">Seinäjoen ammattikorkeakoulun ravintolat, Seinäjoki</option>
<option value="7059" data-href="/siban">Sibelius-Akatemia N-talo, Helsinki</option>
<option value="5875" data-href="/sibat">Sibelius-Akatemia T-talo, Helsinki</option>
<option disabled value="-1" data-href="/sonerastadium">Sonera Stadium, Helsinki</option>
<option value="79" data-href="/stellabusinesspark">Stella Business Park, Espoo</option>
<option value="89" data-href="/stromberginaukio">Strömberginaukio, Helsinki</option>
<option disabled value="-1" data-href="/subway-otaniemi">Subway Otaniemi, Espoo</option>
<option value="91" data-href="/tampereenoikeustalo">Tampereen Oikeustalo, Tampere</option>
<option value="92" data-href="/linna">Tampereen yliopisto, Linna, Tampere</option>
<option value="93" data-href="/siipi">Technopolis Helsinki-Vantaa - RE5T4UR4NT SIIPI, Vantaa</option>
<option value="876" data-href="/innopoli-i">Technopolis Innopoli I - RE5T4UR4NT HEHKU, Espoo</option>
<option value="94" data-href="/technopolis-lentokentantie">Technopolis Lentokentäntie, Kempele</option>
<option value="8336" data-href="/technopolis-luoto">Technopolis Luoto, Oulu</option>
<option disabled value="-1" data-href="/technopolis-oulu-linnanmaa">Technopolis Oulu Linnanmaa, Oulu</option>
<option value="16" data-href="/elektra">Technopolis Oulu Linnanmaa, Elektra, Oulu</option>
<option disabled value="-1" data-href="/technopolis/kahvila">Technopolis Oulu, Kahvila, Oulu</option>
<option value="12820" data-href="/technopolis-myrsky">Technopolis Peltola RE5T4UR4NT MYRSKY, Oulu</option>
<option value="131" data-href="/ruoholahti">Technopolis Ruoholahti RE5T4UR4NT HIILI, Helsinki</option>
<option value="7576" data-href="/en/technopolis-tallinn">Technopolis Tallinn, Tallinn</option>
<option disabled value="-1" data-href="/vapar1">Technopolis Vapaudenaukio - Vapar1, Lappeenranta</option>
<option value="95" data-href="/teollisuuskatu21">Teollisuuskatu 21, Helsinki</option>
<option value="96" data-href="/tietotalo">Tietotalo, Jyväskylä</option>
<option value="142" data-href="/tietotekniikantalo">Tietotekniikantalo, Espoo</option>
<option value="13916" data-href="/tietotie-6">Tietotie 6, Espoo</option>
<option value="115" data-href="/toyota-kaivoksela">Toyota Kaivoksela, Vantaa</option>
<option value="12812" data-href="/tty-tietotalo">TTY Tietotalo, Tampere</option>
<option value="76" data-href="/amksalo">Turun AMK, Aurinkolaiva, Salo</option>
<option value="64" data-href="/lemminkaisenkatu">Turun AMK, Lemminkäisenkatu, Turku</option>
<option value="123" data-href="/turunlinna">Turun linnan ravintolapalvelut, Turku</option>
<option value="65" data-href="/ravintolatuuli">Tuuli, Vantaa</option>
<option value="101" data-href="/valimo21">Valimo 21, Helsinki</option>
<option value="102" data-href="/valimotie9">Valimotie 9, Helsinki</option>
<option value="143" data-href="/valkeatalo">Valkea talo, Helsinki</option>
<option value="124" data-href="/vallilan-pikseli">Vallilan Pikseli, Helsinki</option>
<option value="87" data-href="/valo">Valotalo, Helsinki</option>
<option value="103" data-href="/viikinkartano">Viikin kartano, Helsinki</option>
<option value="104" data-href="/vorssan-vapriikki">Vorssan Vapriikki, Forssa</option>
<option value="16361" data-href="/agricola">Metropolia Agricola, Helsinki</option>
<option value="16362" data-href="/albert">Metropolia Albert, Helsinki</option>
<option value="16363" data-href="/bulevardi">Metropolia Bulevardi, Helsinki</option>
<option value="16364" data-href="/hameentie">Metropolia Hämeentie, Helsinki</option>
<option value="16365" data-href="/leiritie">Metropolia Leiritie, Vantaa</option>
<option value="16432" data-href="/onnentie">Metropolia Onnentie, Helsinki</option>
<option value="16433" data-href="/sofianlehto">Metropolia Sofianlehto, Helsinki</option>
<option value="16434" data-href="/tukholmankatu">Metropolia Tukholmankatu, Helsinki</option>
<option value="16435" data-href="/vanhamaantie">Metropolia Vanha Maantie 6, Espoo</option>
<option value="16448" data-href="/vanhaviertotie">Metropolia Vanha Viertotie 23, Helsinki</option>
<option disabled value="16361" data-href="/metropolia-opiskelijaravintolat">Metropolia-opiskelijaravintolat</option>

